@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

*{
    box-sizing: border-box;
     margin: 0%;
    padding: 0;
}

:root{
    --primary-color:#000000;
    --secondary-color: #f9f9f9;
}

body {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 100vh;
}

/* Navigation styles */
header {
    background-color: #000000; /* Change the background color as needed */
    padding: 10px 0;
}
header {
    background-color: #000000; /* Change the background color as needed */
    color: #ffffff; /* Change the text color as needed */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Align text to center */
    
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: large;
}



.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-list li {
    margin-right: 20px; /* Adjust the spacing between menu items */
}

.navbar-list li a {
    color: #fff; /* Change the color of the links */
    text-decoration:none;
    transition: color 0.3s ease; /* Add smooth color transition on hover */
}

.navbar-list li a:hover {
    color: #ce0000; /* Change the color on hover */
}


/* Add styles for the footer */
footer {
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
    height:70px;
    background-color:rgba(0, 0, 0, 0.682);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}


h1 {
    background-image: url('https://raw.githubusercontent.com/SHRIKAVIN/skflix.github.io/main/LOGO.png'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: contain; /* Scale the image to fit the content box */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    text-indent: -9999px; /* Move the text off-screen */
    width: 200px; /* Set the width of the logo */
    height: 50px; /* Set the height of the logo */
}


.search{
    background-color:transparent;
    padding:0.7em;
    border-radius: 40px;
    font-size: 1rem;
    font-family: inherit; 
    justify-content: flex-end;
    border-color: #ffffff;
    border-style: solid;
    font-size:large;
}

.search:focus{
    outline:0;
    background-color:transparent;
    color: #ffffff;

}

.search::placeholder{
    color:white;
    display:flex;
    text-align: center;
    
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width:10cm;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: #ce0000;
    position:relative;
    overflow: hidden;
    
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:rgb(29, 231, 29);
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}


.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color:#ce0000;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
    font-size: large;
}

.tag.highlight{
    background-color: rgba(255, 255, 255, 0.45);
}
.no-results{
    color:rgb(199, 187, 187);
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
    color:rgb(255, 255, 255);
}

.page.disabled{
    cursor:not-allowed;
    color:rgb(255, 255, 255);
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid #ce0000;
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-weight: 600;
}

.know-more{
    background-color: rgb(255, 0, 0);
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position:relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    height: 200%;
    padding: 20px;
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 60px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
}

.dots{
    margin-top: 30px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    border-style:hidden;
    padding: 20px;


}

.dots .dot.active{
    color: #ce0000;
}

#language-select {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    cursor:grab;

}

#language-select option {
    background-color: #000000; /* Adjust background color */
    color: #fff; /* Adjust text color */
}
.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically */
}

.navbar-list li {
    margin-right: 18px; /* Adjust the spacing between menu items */
}

.navbar-list li.language {
    margin-left: auto; /* Push the language selection to the right */
}
